body {
    background-image: url('flower1.jpeg');
}

h1 {
    font: 50px;
    text-align: center;
}

.puzzleWrap {
    width: 0px;
}

audio {
    float: right;
    padding-top: 35px;
}

p {
    font: 22pt sans-serif;
    margin: 20px 20px 0px 45px;
    color: black;
}

#bo {
    border: 1px solid black;
    margin-left: 400px;
}


/**
* Styles for the puzzle
*/

#puzzle {
    padding: 10px;
    float: left;
    margin: 30px 20px;
    width: 1100px;
    height: 670px;
    border: 1px solid black;
    background: #eddee2;
}

#puzzle div {
    width: 100%;
    margin: 0 auto;
}


/* style for each square in the puzzle */

#puzzle .puzzleSquare {
    height: 75px;
    width: 120px;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    outline: none;
    font: 35px sans-serif;
    color: black;
}

button::-moz-focus-inner {
    border: none;
    outline: none;
}


/* indicates when a square has been selected */

#puzzle .selected {
    color: #ee5426;
    outline: none;
}


/* indicates that the square is part of a word that has been found */

#puzzle .found {
    color: white;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {
        background-color: #40bf80;
    }
    to {
        background-color: yellow;
    }
}

#puzzle .solved {
    color: yellow;
    border-radius: 25px;
}


/* indicates that all words have been found */

#puzzle .complete {
    background-color: green;
}


/**
* Styles for the word list
*/

#words {
    width: 250px;
    color: #6891ad;
    float: left;
    margin-top: 37px;
}

#words ul {
    list-style-type: none;
    font: 25px sans-serif;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-top: 20px;
    height: 638px;
    width: 200px;
    text-align: left;
    background: #eddee2;
    margin-left: 50px;
}

#words li {
    padding: 0 0 40px;
    font: 29px sans-serif;
    float: left;
    width: 100px;
    color: black;
}


/* indicates that the word has been found */

#words .wordFound {
    text-decoration: line-through;
    color: #ee5426;
}


/**
* Styles for the button
*/

#solve {
    margin-top: 665px;
    margin-right: auto;
    margin-left: 70px;
    margin-bottom: 60px;
    background: #eddee2;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    transition: opacity .25s ease-in;
    font-size: 30px;
    float: right;
}

#home {
    margin: 30px 30px 0 20px;
    background: #eddee2;
    color: black;
    padding: 15px 20px;
    border: 2px solid black;
    transition: opacity .25s ease-in;
    float: left;
    width: 260px;
    font-size: 24px;
    text-align: center;
}

#solve:hover,
#solve.gameSolved {
    opacity: 1;
}

#puzzle:focus,
.selected:focus {
    border: none;
}